body {
  margin: 0;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/467/stars.jpg);
  overflow: hidden;
}

.dial {
  background: linear-gradient(120deg, #CA4300, #C29400, #00CF31, #5FC7E6 60%);
  background-size: 100% 1000%;
  top: 50vh;
  transform: translateY(-50%);
  animation: dial 10s ease-in-out;
  border-radius: 100%;
  width: calc(15% + 200px);
  max-width: 80%;
  box-shadow: 0 0 5vw #000;
  position: relative;
  z-index: 1;
}
.dial-darks {
  opacity: 0.6;
}
.dial-two {
  fill: #fff;
}
.dial-marks {
  opacity: 0.3;
}
.dial-marker {
  transform-origin: 50% 50%;
  transform: rotate(8deg);
  animation: dial-marker-origin 1s ease-in, dial-marker 3s infinite alternate ease-in-out;
}

@keyframes dial {
  from {
    background-position: left;
  }
}
@keyframes dial-marker-origin {
  from {
    opacity: 0;
  }
}
@keyframes dial-marker {
  to {
    transform: rotate(20deg);
  }
}
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 50%;
  width: 500vw;
  height: 500vw;
  border-radius: 100%;
  background-color: #0092C6;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/467/earth.jpg);
  background-position: center 0%;
  background-size: 20%;
  animation: earth 60s infinite linear;
}
.earth:after {
  content: "";
  position: absolute;
  top: -5vw;
  left: -5vw;
  right: -5vw;
  bottom: 0;
  border-radius: 100%;
  background: radial-gradient(rgba(255, 255, 255, 0) 60%, white 69.3%, rgba(255, 255, 255, 0) 70%);
}

@keyframes earth {
  from {
    background-position: 50% -59.5%;
  }
}

.popup-container {
	display: none;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index:9999;
}

.popup-window {
	max-width: 800px;
  min-width: 600px;
	margin:auto;
	font-family:sans-serif;
	background:#ffffff;
  border: 5px solid #fff;
  padding-top: 10px;
  border-radius: 10px;
  width: 95%;
  height:95%;
  top:-50%; 
  left:-50%; 
  right:-50%;
  bottom:-50%;
  position:absolute;/* update position property from relative to absolute*/
  text-align:left; 
  box-sizing:border-box; 
  overflow-y:auto;	


	animation-name:morphing_window; /* Specifies the name of animation applied to element */
    animation-duration:.5s;/* Specifies how many seconds or milliseconds an animation takes to complete one cycle. */ 
    animation-timing-function:cubic-bezier(.25,.46,.45,.94); /*Specifies speed curve */  
}

@keyframes morphing_window{
    from{transform : scale(0)}
       to{transform : scale(1)}
}
    
.close-btn {float:right;}